@import "./features";

@mixin frame_content {
    #frame-content {
        width: 100%;
        // height: calc(100% - 50px);
        // background-color: blue;

        display: flex;
        flex-direction: column;
        align-items: center;

        #compass-logo {
            width: 96px;
            aspect-ratio: 1;
        }

        #greetings {
            font-size: 30px;
            text-align: center;
            margin: 16px 6px;
            margin-bottom: 50px;
            font-weight: 600;
        }

        @include feature();
    }
}
