@mixin frame_btns {
    #frame-btns {
        width: 100%;
        // height: 50px;
        // background-color: black;

        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            width: 100%;
            height: 50px;
            border: none;
            border-radius: 16px;
            font-size: 16px;
            font-weight: 500;
            // padding: 0;
            &:hover {
                cursor: pointer;
            }
            color: white;
            background-color: rgb(52, 121, 246);
        }

        #toggle-updates {
            transition: all 0.2s ease;
            &.disable {
                background-color: rgb(239, 239, 239);
                color: rgba(40, 40, 40, 0.5);
                // pointer-events: none;
                &:hover {
                    cursor: help;
                }
            }
        }

        #Developed-by-KP {
            transition: all 0.2s ease;
            height: 0;
            opacity: 0;
            padding: 0;
            color: transparent;
            background-color: rgba(52, 121, 246, 0.08);
            pointer-events: none;
            margin: 0px;
            &.show {
                margin-top: 10px;
                height: 50px;
                opacity: 1;
                color: rgb(52, 121, 246);
                pointer-events: all;
            }
        }
    }
}
