@import "./compass-frame";
@import "./feedback-frame";
@import "./root-frame";

@mixin frame_content {
    #frame-content {
        width: 100%;
        height: calc(100% - 50px);

        overflow: auto;
        // background-color: blue;

        display: flex;
        flex-direction: column;
        align-items: center;

        @include root_frame();
        @include compass_frame();
        @include feedback_frame();
    }
}
