@import "./features";

@mixin root_frame {
    #compass-logo {
        width: 96px;
        aspect-ratio: 1;
    }

    #greetings {
        font-size: 30px;
        text-align: center;
        margin: 16px 6px;
        margin-bottom: 50px;
        font-weight: 600;
    }

    @include feature();

    #share-n-feedback {
        display: flex;
        align-items: center;
        .separator {
            margin: 0 4px;
        }
        #feedback-btn,
        #sharer-btn {
            margin: 10px 0;
            padding: 4px 6px;
            color: rgb(52, 121, 246);
            border-radius: 6px;

            &:hover {
                background-color: rgba(52, 121, 246, 0.08);
                cursor: pointer;
            }
        }
    }
}
