body {
    margin: 0;
    #main-container {
        width: 100vw;
        min-height: 100vh;
        // background-color: blue;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        #outer-div {
            width: calc(100vw - 2px);
            max-width: calc(500px - 2px);
            min-height: calc(756px - 2px);
            border-radius: 32px;
            border: 1px solid #28282829;
            box-shadow: 0 16px 64px 0 #28282829;
            margin: 50px 0;

            #inner-div {
                width: calc(80% + 2px);
                padding: 10%;
                // background-color: blue;

                button {
                    width: 100%;
                    height: 50px;
                    border-radius: 16px;
                    border: none;
                    font-size: 18px;
                    color: white;
                    background-color: #007aff;
                }
            }
        }
    }
}

@media (max-width: 672px) {
    body {
        background-color: blue;
    }
}
